      
    <footer>
        <div style="text-align: center;background-color: black; opacity: 0.7;height: 50px;">
            <div style="color: whitesmoke;padding-top: 10px;">
                  Copyright &copy; 2019 | Sayuj Sehgal
                </div>
        </div>
    </footer>
    </body>
    </html>