<div class="main-container">
        <h1 class="d-md-block d-lg-block d-xl-block d-sm-none d-none top-heading">
            Welcome To Github Profile Finder
        </h1>
        <h2 class="top-heading small-device d-md-none d-lg-none d-xl-none d-sm-block d-block">
                Welcome To Github Profile Finder
        </h2>
    <br><br>
    <div class="container form-box">
    <form action="/show" method="GET">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-6 input-search d-md-block d-lg-block d-xl-block d-sm-none d-none">
                <input type="text" placeholder="Search-User" name="user" class="form-control btn-lg" required>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 search-btn d-md-block d-lg-block d-xl-block d-sm-none d-none">
                <input type="submit" value="Search" class="btn btn-lg btn-secondary search-btn">
            </div>
    </div>
    </form>
    <form action="/show" method="get">
    <!-- For Small Devices-->
    <div class="small-dev">
            <div class="col-sm-12 col-12 input-search d-md-none d-lg-none d-xl-none d-sm-block d-block">
                    <input type="text" placeholder="Search-User" name="user" class="form-control btn-lg" required>
                </div>
                <div class="col-sm-12 col-12 d-md-none d-lg-none d-xl-none d-sm-block d-block">
                    <input type="submit" value="Search" class="btn btn-lg btn-secondary btn-block">
                </div>
            </div>
    </form>
    </div>
    </div>
